body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #f83e3e;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #f83e3e;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.carousel-image {
    width: 100%;
    height: 700px;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-site, #personagem {
    background-color: #ffeae6;
}

.text-colored {
    color: #f83e3e;
}

.nav-personagem .nav-link.active,
#fale-conosco button {
    background-color: #f83e3e;
    color: #fff;
}

.nav-personagem .nav-link:hover {
    color: #f83e3e;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.col-md-3 p {
    max-height: 150px;  
    overflow-y: hidden;
}

col-md-3 {
    display: flex;
    text-align: center;
    flex-direction: column;
}

h5 { 
    max-width: 10%;
    text-align: center;
}

.carousel-image {
    width: 100%;
    height: 800px;
    
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #ffc7c7;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #f83e3e;
}
